@charset "UTF-8";
.block{
	height:40px;
}
.rest_img{
	
	display:inline-block;
	width: 100%;
	min-width: 900px;
	height: 350px;
}
.re_img{
	
	display:inline-block;
	width:22.5%;
	 height: 300px;
	 border: 1px solid red;
	 text-align:center;
	 margin-left:60px;
}
.re_img a{
	
}

/*------------*/

.rest_main{
	border-bottom: 1px solid #bcbcbc;
	width: 1600px;
	min-width: 900px;
	height: 690px;
	margin: auto;
	margin-top:-50px;
	margin-left:30px;
}

.main_rname{
	border-bottom: 1px solid #bcbcbc;
	width: 1300px;
	height: 198px;
	padding: 60px 100px 0px 100px;
	
}
.restName{
	font-size: 40px;
	width: 400px;
	height: 150px;
}
.rew_btn{
	float: right;
	margin-left: 20px;
}
.btn{
	background-color: white; 
	border: 0px; 
	outline: 0px;
	
}
.btn :hover{
	cursor: pointer;
}

.left_rmain{
	float: left;
	border: 0px solid black;
	width: 498px;
}

.info_menu{ /* 테이블 css */
	border-collapse: separate;
	border-spacing: 0px 15px;
	width: 500px;
	text-align: left;
	padding-left: 50px;
}
.rest_addrNum{ /* 주소 지번 css */
	font-size: 11px;
	border: 1px solid;
	padding: 2px;
}
.menuIt{
	margin: 5px 0px;
}
.menu{
	padding: 0px 50px 0px 0px;
}


/*------------*/
.right_rmain{
	float: right;
	border: 1px solid black;
	width: 600px;
	height: 450px;
	margin: 20px 50px 0px 0px;
	margin-right:290px;
}

/*------------------------*/
.rest_down{
	border: 1px solid blue;
	width: 1300px;
	min-width: 900px;
	height: 1200px;
	margin: auto;
	margin-right:550px;
}